body {
    text-align: center;
}

#jumbotron {
    margin: 40px auto 100px;
    width: 70%;
}

#jumbotron h1 {
    font-size: 60px;
    font-weight: normal;
}

#jumbotron h2 {
    font-size: 20px;
    font-weight: normal;
}

#nav {
    width: 50%;
    margin: auto;
}

#nav td {
    width: calc(100% / 4);
    font-size: 20px;
}


.section {
    margin: 50px auto;
    padding: 50px;
    min-height: 500px;
    border: 1px solid black;
}

.section-title {
    font-size: 50px;
    margin-bottom: 30px;
}


/* about */

#about-wrappter {
    padding: 0px 200px;
    min-height: 200px;
    background-color: aquamarine;

}

#about-left {
    float: left;
    width: 50%;
    /*padding-left: 100px;*/
}

#about-left img{
    width: 200px;
    border-radius: 50%;
}

#about-right {
    float: left;
    width: 50%;
    min-height: 200px;
    text-align: left;

}


/*skills*/

#skills-wrappter {
    padding: 0px 200px;
    min-height: 200px;
    /*background-color: aquamarine;*/
}

/* -category */
.skill-category-wrapper {
    float: left;
    width: calc(100% / 3);
    min-height: 300px;
    margin-bottom: 30px;
    background-color: cadetblue;
}

.skill-category-title {
    font-size: 25px;
    padding: 20px;
}

.skill-category-icon {
    width: 100%;
    padding: 20px 0px 40px;
    /*background-color: darkred;*/
}

/* -card */
.skill-card {
    height: 120px;
    width: 100%;
    margin-bottom: 5px;
    background-color: antiquewhite;
}

.skill-icon {
    float: left;
    height: 100%;
    width: 30%;
    background-color: hotpink;
}

.skill-icon img {
    width: 80%;
}

.skill-content-wrapper {
    float: left;
    height: 100%;
    width: 70%;
    background-color: coral;
}

.skill-title {
    text-align: left;
    height: 50px;
    font-size: 20px;

}

.skill-detail {
    text-align: left
}

/* contact */

#contact-wrapper {
    width: 50%;
    margin: auto;
    padding: 0px 200px;
    min-height: 200px;
    /*background-color: aquamarine;*/
}

.contact-item {
    float: left;
    width: calc(100% / 3);
    margin-top: 80px;
}
